/* Default button style */
.btn-default {
  @apply px-10 py-3 rounded bg-orange-600 text-white text-xs mr-3 font-semibold;
  transition: 200ms;
  &:hover {
    @apply bg-orange-500;
  }
  &.disabled {
    @apply bg-gray-600 text-gray-400 cursor-default ;
  }
  &.cancel {
    @apply bg-red-600;
    &:hover {
      @apply bg-red-500;
    }
  }
}

/* button group styles */

.btn {
  @apply relative inline-flex items-center px-4 border border-gray-500 bg-transparent;
  @apply w-full;
  @apply leading-5 font-semibold uppercase text-xs;
}

.btn:hover {
  @apply text-gray-700;
}

.btn:focus {
  @apply z-10 outline-none border-gray-900;
}

.btn:active {
  @apply bg-gray-100 text-gray-500;
}

.btn-group {
  @apply relative z-0 inline-flex;
}

.btn-group > .btn:not(:first-child) {
  @apply rounded-l-none -ml-px;
}

.btn-group > .btn:not(:last-child) {
  @apply rounded-r-none;
}

/* Default forms style */
.form-label {
  @apply text-gray-800 uppercase font-bold text-xs font-sans;
  font-family: Verdana, Arial, sans-serif;
}
.custom-form-input {
  @apply mt-1 block border-0 border-b text-xs;
}

/* Transaction Card styles */
.transaction-card {
  @apply overflow-hidden bg-gray-100 shadow-sm;
}
.transaction-card-heading {
  @apply text-gray-100 p-4 text-center bg-blue-700 text-xs font-medium;
  font-family: Verdana, Arial, sans-serif;
}




