
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="transaction-card">
      <div class="transaction-card-heading">Make a Transfer</div>
      <div class="px-6 py-4">
        <label class="block mb-4">
          <span class="form-label">From Account</span>
          <input
            formControlName="account"
            id="account"
            type="text"
            class="w-full form-input custom-form-input"
          >
        </label>
        <label class="block mb-4">
          <span class="form-label">To Account</span>
          <input
            formControlName="beneficiary"
            id="beneficiary"
            type="text"
            class="w-full form-input custom-form-input"
            placeholder="Merchant Name"
          >
          <span *ngIf="f.beneficiary.touched && f.beneficiary.invalid" class="text-red-600">
            <span *ngIf="f.beneficiary.errors.required">Beneficiary is required.</span>
            <span
              *ngIf="f.beneficiary.errors.minlength"
            >
              Minimum of 2 characters.
            </span>
          </span>
        </label>
        <label class="block mb-8">
          <span class="form-label">Amount</span>
          <input
            formControlName="amount"
            placeholder="0.00"
            id="amount"
            type="number"
            class="w-full form-input custom-form-input"
            appDecimalValidation
            decimals="2"
          >
          <span *ngIf="f.amount.touched && f.amount.invalid" class="text-red-600">
            <span *ngIf="f.amount.errors.required">Amount is required.</span>
            <span
              *ngIf="f.amount.errors.minlength"
            >
              Only numeric values allowed: 345 | 345.22.
            </span>
          </span>
        </label>
        <button
          type="submit"
          [disabled]="!form.valid"
          [ngClass]="{'disabled' : !form.valid}"
          class="btn-default float-right mb-3">
          Submit
        </button>
      </div>
    </div>
  </form>

